.button {
  margin: 4px;
  color: #888;
  cursor: pointer;
}
.button img {
  height: 18px;
}
.button th {
  font-weight: 100;
  padding: 6px;
  border: 1px solid #999;
}
.button th:first-child {
  border-radius: 6px 0 0 0;
  background-color: #2f2f2f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#2f2f2f));
  background-image: -webkit-linear-gradient(top, #555555, #2f2f2f);
  background-image: -moz-linear-gradient(top, #555555, #2f2f2f);
  background-image: -o-linear-gradient(top, #555555, #2f2f2f);
  background-image: -ms-linear-gradient(top, #555555, #2f2f2f);
  background-image: linear-gradient(top, #555555, #2f2f2f);
  user-select: None;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.button th:last-child {
  border-radius: 0 6px 0 0;
  background-color: #2f2f2f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#2f2f2f));
  background-image: -webkit-linear-gradient(top, #555555, #2f2f2f);
  background-image: -moz-linear-gradient(top, #555555, #2f2f2f);
  background-image: -o-linear-gradient(top, #555555, #2f2f2f);
  background-image: -ms-linear-gradient(top, #555555, #2f2f2f);
  background-image: linear-gradient(top, #555555, #2f2f2f);
  user-select: None;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.button th:only-child {
  border-radius: 6px 6px 0 0;
  background-color: #2f2f2f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#2f2f2f));
  background-image: -webkit-linear-gradient(top, #555555, #2f2f2f);
  background-image: -moz-linear-gradient(top, #555555, #2f2f2f);
  background-image: -o-linear-gradient(top, #555555, #2f2f2f);
  background-image: -ms-linear-gradient(top, #555555, #2f2f2f);
  background-image: linear-gradient(top, #555555, #2f2f2f);
  user-select: None;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.button tr:last-child th:first-child {
  border-radius: 0 0 0 6px;
}
.button tr:last-child th:last-child {
  border-radius: 0 0 6px 0;
}
.button tr:last-child th:only-child {
  border-radius: 0 0 6px 6px;
}
.button tr:only-child th:first-child {
  border-radius: 6px 0 0 6px;
}
.button tr:only-child th:last-child {
  border-radius: 0 6px 6px 0;
}
.button tr:only-child th:only-child {
  border-radius: 6px 6px 6px 6px;
}
.button th.selected {
  color: #111;
  background-color: #ccdaee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#93b0db), to(#ccdaee));
  background-image: -webkit-linear-gradient(top, #93b0db, #ccdaee);
  background-image: -moz-linear-gradient(top, #93b0db, #ccdaee);
  background-image: -o-linear-gradient(top, #93b0db, #ccdaee);
  background-image: -ms-linear-gradient(top, #93b0db, #ccdaee);
  background-image: linear-gradient(top, #93b0db, #ccdaee);
  user-select: None;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-shadow: 1px 1px 1px #CCC;
}
