@c: #555;
@s: #CCDAEE;
@round: 6px;

.css-gradient(@from: #20416A, @to: #3D69A5) {
    background-color: @to;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from),  to(@to));
    background-image: -webkit-linear-gradient(top, @from, @to);
    background-image: -moz-linear-gradient(top, @from, @to);
    background-image: -o-linear-gradient(top, @from, @to);
    background-image: -ms-linear-gradient(top, @from, @to);
    background-image: linear-gradient(top, @from, @to);
    user-select: None;
    -webkit-user-select: none;
	-moz-user-select: none;
}

.button {
	margin: 4px;
	color: #888;
	cursor: pointer;
}

.button img{
	height: 18px;
}
.button th {
	font-weight:100;
	padding: @round;
	border: 1px solid #999; 
}
.button th:first-child {
    border-radius: @round 0 0 0;
    .css-gradient(@c, darken(@c, 15%));
}

.button th:last-child {
    border-radius: 0 @round 0 0;
    .css-gradient(@c, darken(@c, 15%));
}

.button th:only-child{
    border-radius: @round @round 0 0;
    .css-gradient(@c, darken(@c, 15%));
}

.button tr:last-child th:first-child {
	border-radius: 0 0 0 @round;
}

.button tr:last-child th:last-child {
	border-radius: 0 0 @round 0;
}

.button tr:last-child th:only-child {
	border-radius: 0 0 @round @round;
}

.button tr:only-child th:first-child {
	border-radius: @round 0 0 @round;
}

.button tr:only-child th:last-child {
	border-radius: 0 @round @round 0;
}

.button tr:only-child th:only-child {
	border-radius: @round @round @round @round;
}

.button th.selected {
	color: #111;
	.css-gradient(darken(@s, 15%), @s);
	text-shadow: 1px 1px 1px #CCC;
}