html, body {
	font-family: sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
table {
/*     *border-collapse: collapse; IE7 and lower */
    border-spacing: 0; 
}

#menu {
	position:relative;
	width: 100%;
	height: 40px;
	display: block;
	margin: 2px 0 0 0;
}

	#scale {
		left: 0px;
		float: left;
	}
	#cityLabel{
		float: left;
		font-size: 20px;
		padding: 5px;
		cursor: pointer;
		height: 20px;
		margin: 4px;
	}
	#new {
		position: absolute;
		left: 47.5%;
		float: left;
	}
	#round_display {
		position: absolute;
		left: 58%;
		float: left;
		line-height: 40px;
	}
	
	#mc {
		position: absolute;
		right: 125px;	
	}
	#mode {
		position:absolute;
		right: 0px;
	}
#content {
	background-color: #CCCFDD;
	width: 100%;
	position: relative;
}

.infoBox {
	border-radius: 5px;
	font-size: 20px;
	border: 1px solid black;
	background-color: white;
	opacity: 0.8;
	z-index: 100;
}
#distance, #time, #debug {
	position: absolute;
	left: 41%;
	bottom: -25px;	
}
#time {
	left: 59%;
}
#debug {
	left: 70%;
}
#gap {
	height: 20px;
}
#footer {
	height: 30px;
}
#no_streetview_cities{
	font-size: 7px;
}
#searchPlace, 
.typeahead,
.tt-query,
.tt-hint {
/* 	visibility: hidden; */
	display: none;
	float: left;
	height: 32px;
	margin: 4px;
	border-radius: 5px;
	border: 1px grey solid;
	width: 200px;
	padding: 3px;
	font-size: 20px;
	line-height: 30px;
  	border: 2px solid #ccc;
}

.twitter-typeahead {
	float: left;
}


.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #a2b1d7;

}

