
#main {
	margin: 6 auto;
/* 	height: 90%; */
	width: 98%;
	max-width: 1280px;
	min-width: 640px;
	background-color: #DDE;
	padding: 0 5px;
	border-radius: 5px;
}

#map-canvas { 
	position: relative;
	right: 0px;
/* 	height: 100%; */
	width: 50%;
/* 	max-width: 640px; */
}
#map-canvas:before{
	content: "";
	display: block;
	padding-top: 100%;
}

#image-display {
/* 	height: 100%; */
	width: 50%;
/* 	background-color: black; */
	float: left;
	max-width: 640px;
	min-height:300px;
}

#image {
/* 	position: absolute; */
/* 	height: 100%; */
	z-index: 10;
	width: 100%;
/* 	left: 50%; */
	top: 0px;
}
#content{
	display: inline-block;
}