
#main {
	margin: 6 auto;
	height: 98%;
	width: 80%;
	max-width: 900px;
	min-width: 100px;
	background-color: #DDE;
	padding: 5px;
	border-radius: 0 5px;
}

#map-canvas { 
	height: 50%;
	width: 100%; 
}

#image-display {
	height: 50%;
	width: 100%;
	background-color: black;
}

#empty {
	position: absolute;
	height: 50%;
	z-index: 10;
	width: 100%;
}