.button {
  margin: 4px;
  color: black;
  cursor: pointer;
}
.button img {
  height: 18px;
}
.button th {
  font-weight: 100;
  padding: 6px;
  border: 1px solid #999;
  background-color: white;
}
.button th:first-child {
  border-radius: 6px 0 0 0;
}
.button th:last-child {
  border-radius: 0 6px 0 0;
}
.button th:only-child {
  border-radius: 6px 6px 0 0;
}
.button tr:last-child th:first-child {
  border-radius: 0 0 0 6px;
}
.button tr:last-child th:last-child {
  border-radius: 0 0 6px 0;
}
.button tr:last-child th:only-child {
  border-radius: 0 0 6px 6px;
}
.button tr:only-child th:first-child {
  border-radius: 6px 0 0 6px;
}
.button tr:only-child th:last-child {
  border-radius: 0 6px 6px 0;
}
.button tr:only-child th:only-child {
  border-radius: 6px 6px 6px 6px;
}
.button th.selected {
  color: white;
  /*text-shadow: 1px 1px 1px #CCC;*/
}
