@c: #555;
@s: #CCDAEE;
@round: 6px;

.button {
	margin: 4px;
	color: black;
	cursor: pointer;
	
}

.button img{
	height: 18px;
}
.button th {
	font-weight:100;
	padding: @round;
	border: 1px solid #999; 
	background-color: white;
}
.button th:first-child {
    border-radius: @round 0 0 0;
}

.button th:last-child {
    border-radius: 0 @round 0 0;
}

.button th:only-child{
    border-radius: @round @round 0 0;
}

.button tr:last-child th:first-child {
	border-radius: 0 0 0 @round;
}

.button tr:last-child th:last-child {
	border-radius: 0 0 @round 0;
}

.button tr:last-child th:only-child {
	border-radius: 0 0 @round @round;
}

.button tr:only-child th:first-child {
	border-radius: @round 0 0 @round;
}

.button tr:only-child th:last-child {
	border-radius: 0 @round @round 0;
}

.button tr:only-child th:only-child {
	border-radius: @round @round @round @round;
}

.button th.selected {
	color: white;
	/*text-shadow: 1px 1px 1px #CCC;*/
}