body { margin:0; padding:0; background-color: #eee; }
#bck { position:absolute; top:0; bottom:0; left:0; right:0; z-index:1; height:auto; max-height:100%;
	   margin: auto auto; max-width:100%; display: block; zoom:300%; /* zoom does not work in firefox*/} 
#map,img { position:absolute; top:0; bottom:0; }
img { z-index:1; height:100%}
#map { z-index:3; width:100%;}
.leaflet-container {background: transparent;}

#rank {
	z-index:4;
	position:absolute;
	bottom: 115px;
	right: 20px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
  .bar rect{
  fill: white;
/*   stroke: #ccc; */
  fill-opacity: 0.9;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}
.bar {
	cursor: pointer;
}

.bar rect {
	stroke: black;
	stroke-width: 0.5px;
}
.bar:hover rect, .bar:hover text{
  fill: #FC0;
}
.bar:hover text{
	font-size: 12px;
	opacity: 1;
	fill:#333;
}

.bar text {
  font-family: Helvetica;
  font-size: 11px;
  /*text-shadow: 0 0 3px white;*/
}

.bar[height="10"]{
  fill-opacity: 0.2;
  stroke-opacity: 0.5;
}

.selected rect, .selected circle{
	fill: #F50 !important;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.leaflet-div-icon {
	background: None;
	border: 0px solid black;
}
.opanel-container {
	margin-left: 42px;
	margin-top: 5px;
}

.currentMarker {
	opacity: 0.95 !important;
}

p.opanel-minimize, .minimizedDisplay {
	position: absolute;
	top: 50px;
	left: 42px;
	
	padding: 0 3px;
	border-radius: 3px;
	line-height: 1.3em;
	font-size: 10px;
	background-color: white;
	
	overflow: hidden;
    white-space: nowrap;
    text-decoration: underline;
}

.opanel-content {
	width: 350px;
	min-height: 100px;
	background: #fff;
	border-radius: 3px;
	padding: 10px;
}
p.opanel-header {
	text-indent: 5.4em;
}
p.opanel-tags {
	font-size: 9px;
	line-height: 10px;
	text-indent: -22px;
	padding-left: 22px;
	font-style: italic;
}
p.opanel-userline, p.opanel-comment {
	font-size: 11px;
	margin-bottom: 3px;
}
p.opanel-comment {
	line-height: 1.2em;
}

#buttons, #gameControl{
	position:absolute;
	left: 50px;
	bottom: 25px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	z-index: 5000;
}

#buttons th, #gameControl th{
	font-weight: bold;
}

#buttons th.selected {
	background-color: black;
	font: white;
	
}

#gameControl {
	left: 390px;
}
#roundDisplay{
	position: absolute;
	bottom: 42px;
	width: 102px;
	margin-top: -3px;
	margin-left: 7px;
	margin-right: 4px;
	font-size: 12px;
	text-align: center;
	background-color: white;
	border-radius: 3px;
}
.leaflet-popup-pane, .leaflet-overlay-pane {
	display: none;
}
.cityNameLabel {
	position: absolute;
	white-space: nowrap;
	margin-left: 20px;
	margin-top: -7px;
	background: white;
	opacity: 0.9;
	border-radius: 3px;
	cursor: pointer;
}

#highscore g {
	cursor: default;
}

.answerDisplay{
	position: absolute;
	left: -205px;
	top: -8px;
	width: 230px;
	border-radius: 3px;
	text-align: center;
}
.red {
	background-color: red;
	padding-top: 4px;
	line-height:1.1em;
	height: 3em;
	left: -250px;
	top: -25px;
	opacity: 0.8;
}
.green {
	left: -250px;
	background-color: #9F9;
	line-height:2.3em;
	height: 2.3em;
}
.wrongCity {
	position: absolute;
	left: 30px;
	top: -5px;
	background-color: white;
	font-size: 13px;
	padding: 3px;
	border-radius: 3px;
	overflow: hidden;
    white-space: nowrap;
}
#gameExplanation, #gameDone{
	position: absolute;
	z-index: 30;
	display: None;
	top:0; bottom:0; left:0; right:0; 
/* 	top: 250px; */
/* 	left: 440px; */
	margin: auto auto;
/* 	padding: auto auto; */
	border: 2px solid black;
	border-radius: 8px;
	background-color: #e4e4e4;
	text-align: center;
	max-width: 600px;
	max-height: 150px;
	opacity: 0.9;
	cursor: pointer;
}
#gameExplanation p, #gameDone p{
	margin: 20px auto;
	font-weight: bold;
	font-size: 18px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
#key {
	position: absolute;
	left: 400px;
	bottom: 28px;
	z-index: 10;
	font-size: 9px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	
}
#info {
	position:absolute; 
	z-index: 15; 
	left:60px; 
	bottom:70px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	line-height:1.5em;
	cursor: pointer;
}
#info > div {
	position:absolute; 
	display: none;
	bottom: 0px;
	margin-bottom: 40px;
	width: 295px;
	background-color: white;
	opacity: 0.8;
	padding: 5px;
	border-radius: 4px;
}
.mapbox-logo {
	display: none;
}

#logos{
	position: absolute;
	z-index: 21;
	top: 16px;
	left: 70px;
	float: right;
	background-color: white;
	opacity: 0.5;
	padding: 5px;
	border-radius: 4px;
}
img.logo {
	position: relative;
	height: 25px;
}
.moveInfoPanelsForStats {
	margin-bottom: 200px !important;
}
#highscore {
	position: absolute;
	right: 20px;
	bottom: 25px;
	z-index: 25;
	font-size: 10px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
