<h1> TABLE SPEC v1.0 </h1>

<h2> USER TABLES </h2>
LC_USERS(<u>bigint id</u>, <u>timestamp timestamp</u>, varchar32 username, varchar32 userpasswd, varchar32 email, bigint flag)</br>
LC_USER_DETAILS(<u>bigint uid</u>, <u>timestamp timestamp</u>, <u>varchar32 keyname</u>, varchar32 format, text text, point location, bigint flag)

<h2> SERVICE TABLES </h2>
LC_SERVICE_INSTANCES(<u>bigint id</u>, <u>timestamp timestamp</u>, bigint scid, varchar32 name, varchar4 status, bigint uid, text service_subscriptions, bigint flag)</br>
LC_SERVICE_INPUTS(<u>bigint sobjid</u>, <u>varchar32 keyname</u>, timestamp timestamp, varchar32 format, bigint uid, varchar32 checksum, bigint size, text text, numeric number, geometry geometry, text output_subscription, bigint flag)</br>
LC_SRV_IN_HISTORY(<u>bigint sobjid</u>, <u>varchar32 keyname</u>, <u>timestamp timestamp</u>, varchar32 format, bigint uid, varchar32 checksum, bigint size, text text, numeric number, geometry geometry, text output_subscription, bigint flag)</br>
LC_SERVICE_CALLS(<u>bigint sobjid</u>, <u>timestamp input_hashcode</u>, bigint uid, bigint flag)</br>
LC_SERVICE_OUTPUTS(<u>bigint sobjid</u>, <u>int iteration</u>, <u>varchar32 keyname</u>, timestamp input_timestamp, timestamp timestamp, varchar32 format, bigint uid, varchar32 machinename, varchar32 serviceversion, varchar32 checksum, bigint size, text text, numeric number, bigint flag)
LC_SRV_OUT_HISTORY(<u>bigint sobjid</u>, <u>int iteration</u>, <u>varchar32 keyname</u>, <u>timestamp input_timestamp</u>, timestamp timestamp, varchar32 format, bigint uid, varchar32 machinename, varchar32 serviceversion, varchar32 checksum, bigint size, text text, numeric number, bigint flag)

<h2> SCENARIO TABLES </h2>
LC_SCENARIOS(<u>bigint id</u>, <u>timestamp timestamp</u>, varchar256 name, multipoint{4326} bbox [TL/BR], point{4326} center, varchar256 crs, varchar4 status, bigint flag)</br>
SC_{ScID}(<u>bigint geomID</u>, timestamp timestamp, int batchID, int nurb, int[][] transform, varchar256 layer, bigint uid, text listen_for_services, geometry geom, DYNAMIC atts, bigint flag)</br>
SC_{ScID}_History(<u>bigint geomID</u>, <u>timestamp timestamp</u>, int batchID, int nurb, int[][] transform, varchar256 layer, bigint uid, text listen_for_services, geometry geom, DYNAMIC vartype atts, bigint flag)</br>
SC_{ScID}_Version(<u>bigint geomID</u>, DYNAMIC boolean mask(column names = versionID))
SC_{ScID}_VersionNames(<u>bigint versionID</u>, text version (e.g. 1.2.1.3))