<h1> TABLE SPEC v0.3.0 </h1>

<h2> USER TABLES </h2>
LC_USERS(<u>bigint id</u>, <u>timestamp timestamp</u>, varchar32 username, varchar32 userpasswd, varchar32 email, bigint flag)</br>
LC_USER_DETAILS(<u>bigint uid</u>, <u>timestamp timestamp</u>, <u>varchar32 keyname</u>, varchar32 format, text text, point location, bigint flag)

<h2> SERVICE TABLES </h2>
LC_SERVICE_INSTANCES(<u>bigint id</u>, <u>timestamp timestamp</u>, bigint scid, varchar32 name, varchar4 status, bigint uid, bigint flag)</br>
LC_SERVICE_INPUTS(<u>bigint sobjid</u>, <u>timestamp timestamp</u>, <u>varchar32 keyname</u>, varchar32 format, bigint uid, varchar32 checksum, bigint size, text text, numeric number, geometry geometry, bigint flag)</br>
LC_SERVICE_CALLS(<u>bigint sobjid</u>, <u>timestamp input_hashcode</u>, bigint uid, bigint flag)</br>
LC_SERVICE_OUTPUTS(<u>bigint sobjid</u>, <u>timestamp input_hashcode</u>, <u>varchar32 keyname</u>, timestamp timestamp, varchar32 format, bigint uid, varchar32 machinename, varchar32 serviceversion, varchar32 checksum, bigint size, text text, numeric number, bigint flag)
LC_SERVICE_OUTPUT_EXPORTS(<u>bigint sobjid</u>, <u>timestamp input_hashcode</u>, timestamp timestamp, varchar32 format, varchar32 checksum, bigint size, bigint flag)</br>

<h2> SCENARIO TABLES </h2>
LC_SCENARIOS(<u>bigint id</u>, <u>timestamp timestamp</u>, varchar256 name, multipoint{4326} bbox [TL/BR], point{4326} center, varchar256 crs, varchar4 status, bigint flag)</br>
LC_SCENARIO_EXPORTS(<u>bigint scid</u>, <u>timestamp hashcode</u>, timestamp timestamp, varchar32 format, varchar32 checksum, bigint size, bigint flag)</br>
LC_GEOMETRY{_SRID}(<u>bigint scid</u>, <u>bigint id</u>, <u>timestamp timestamp</u>, geometry geom, varchar256 layer, bigint uid, bigint flag)</br>
LC_GEOMETRY{_SRID}_ATTRIBUTES(<u>bigint scid</u>, <u>bigint geomid</u>,<u>timestamp timestamp</u>, <u>varchar32 keyname</u>, varchar32 format, varchar32 checksum, bigint size, text text, numeric number, bigint uid, bigint flag)</br>